<div class="container">
    <h6>
        centerColumn
    </h6>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Quibusdam ex at doloribus facere tempora sunt itaque veniam 
        dolore vero voluptas eum est quisquam quod, quas, consequatur 
        dicta, cupiditate accusamus eaque!dolore vero voluptas eum est 
        quisquam quod, quas, consequatur dicta, cupiditate accusamus eaque!
        eaque!dolore vero voluptas eum est 
        quisquam quod, quas, consequatur dicta, cupiditate accusamus eaque!
    </p>

    <h2>Header 2</h2>

    <a href="#" style="color: red;">Link Item</a>

    <ul>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <ul style="list-style-type:disc;">
            <li>List Item</li>
            <li>List Item</li>
        </ul>
    </ul>  
    
    <p style="background-color: #cecac7; padding: 10px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Non quibusdam corporis officia sequi cumque ratione vel, 
        illo minus tenetur voluptatibus officiis consequuntur quaerat 
        culpa nobis illum id, animi modi dolorum?
    </p>
    
</div>