<div class="container">
    <p>leftColumn</p>

    <a href="#" style="color: red;">Link Item</a>
    <br>
    <a href="#" style="color: red;">Link Item</a>
    <br>
    <a href="#" style="color: redq;">Link Item</a>
    <br><br>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Itaque, deserunt et! Fugit sapiente asperiores recusandae 
        deleniti iusto laudantium impedit praesentium veritatis voluptatibus 
        quae, doloremque molestias tempora beatae totam maxime dolorum.
    </p>
</div>